
*.xml
Object Oriented Progrmng C++/Bret-MounetA02/.project
Object Oriented Progrmng C++/Bret-MounetA02/.cproject
*.ini
*.prefs
*.ini
*.prefs
*.prefs
*.snap
*.resources
*.snap
Object Oriented Progrmng C++/.metadata/.plugins/org.eclipse.cdt.core/.log
